body {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

table {
  table-layout: auto;
}

body > footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 0.9rem;
}

#search {
    width: 100%;
}

#main-title {
  text-align: center;
  font-weight: lighter;
}
